<div>
  <input name="search" type="search" id="user-input" cols="30" rows="10"></input>
  <button type="button" class="btn btn-dark" id="search-button">button </button>

</div>
<h1 id="recipe-name"></h1>
<div id="recipe-section">

  <p id="recipe-section"> recipe stuff will go here</p>

</div>



<script type="text/javascript" src="/js/recipeSearch.js"></script>