<div>
  <textarea name="search" id="user-input" cols="30" rows="10"></textarea>
  <button id="search-button">button </button>

</div>
<div id="recipe-section">
  <p>recipe stuff will go here</p>

</div>

<script type="text/javascript" src="/js/recipeSearch.js"></script>