<div class="container bg-secondary">
  <ul class="list-group d-flex flex-row">
    <li class="list-group-item list-group-item-action">Brandon Elliott</li>
    <li class="list-group-item list-group-item-action">Can Sardaslar</li>
    <li class="list-group-item list-group-item-action">John Proctor</li>
    <li class="list-group-item list-group-item-action">Justin Ortiz</li>
    <li class="list-group-item list-group-item-action">Liliana Reyes</li>
    <li class="list-group-item list-group-item-action">Quy Nguyen</li>
  </ul>
</div>