<div id ="home-container" class ="container">
    <img id = "logo" class ="img-fluid max-width:100%" alt="Pantry Pal logo" src = "/images/PantryPal.png" />
    <p class = "login-p">Here it is..The answer to the age old question of what's for dinner. </p>
    <p class = 'login-p'>Your adventure awaits</p>
    <div class="button-container">
     <a id ="login-btn" class ="btn btn-info m-2 " href="login">Login</a>
    <a id ="signup-btn" class ="btn btn-info m-2" href="signup">Sign up</a>
    </div>
</div>