{{!-- search section --}}
<section class="d-flex justify-content-center">

  <div class="input-group" style="margin-top: 100px; margin-bottom:100px; width:400px;">
    <input type="text" id="user-input" class="form-control" aria-label="Text input with segmented dropdown button"
      placeholder="What's in the pantry?">
    <button type="button" id="search-button" class="btn btn-outline-secondary">Search</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul id="dropdown-ul"class="dropdown-menu dropdown-menu-end">
      <li><button type='button' id="last-search-dropdown" class="dropdown-item" >Action</button></li>
      <li>
        <hr class="dropdown-divider">
      </li>
    </ul>
  </div>

</section>

{{!-- results from search section --}}
<section class="d-flex justify-content-center flex-wrap align-self-center" style="gap: 2em;">
{{!-- card 1 --}}
  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name"></h1>
    <div>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image"> </img>
    <a id="recipe-btn"><button id="recipe-url" type="button" class="btn btn-info"></button></a>
    </div>
    <p class="text-center" id="recipe-type"> </p>
    <p class="flex-wrap text-center" id="recipe-section"> </p>
  </div>

{{!-- card 2 --}}
  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name2"></h1>
    <div>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image2"> </img>
    <a id="recipe-btn2"><button id="recipe-url2" type="button" class="btn btn-info"></button></a>
    </div>
    <p class="text-center" id="recipe-type2"> </p>
    <p class="flex-wrap text-center" id="recipe-section2"> </p>
  </div>

{{!-- card 3 --}}
  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name3"></h1>
    <div>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image3"> </img>
    <a id="recipe-btn3"><button id="recipe-url3" type="button" class="btn btn-info"></button></a>
    </div>
    <p class="text-center" id="recipe-type3"> </p>
    <p class="flex-wrap text-center" id="recipe-section3"> </p>
  </div>

{{!-- card 4 --}}
  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name4"></h1>
    <div>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image4"> </img>
    <a id="recipe-btn4"><button id="recipe-url4" type="button" class="btn btn-info"></button></a>
    </div>
    <p class="text-center" id="recipe-type4"> </p>
    <p class="flex-wrap text-center" id="recipe-section4"> </p>
  </div>

{{!-- card 5 --}}
  <div class="text-center" style="width: 300px; ">
    <h1 id="recipe-name5"></h1>
    <div>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image5"> </img>
    <a id="recipe-btn5"><button id="recipe-url5" type="button" class="btn btn-info"></button></a>
    </div>
    <p class="text-center" id="recipe-type5"> </p>
    <p class="flex-wrap text-center" id="recipe-section5"> </p>
  </div>

</section>

{{!-- connect to public js recipeSearch --}}
<script type="text/javascript" src="/js/recipeSearch.js"></script>