<section class="d-flex justify-content-center">

<div class="input-group" style="margin-top: 100px; margin-bottom:100px; width:400px;">
  <input type="text" id="user-input" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Enter search here">
  <button type="button" id="search-button" class="btn btn-outline-secondary">Search</button>
  <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Random Search</a></li>
  </ul>
</div>

</section>








<section class="d-flex justify-content-center flex-wrap align-self-center" style="gap: 2em;">

  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name"></h1>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image"> </img>
    <p class="text-center" id="recipe-type"> </p>
    <p class="flex-wrap text-center" id="recipe-section"> </p>
  </div>


  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name2"></h1>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image2"> </img>
    <p class="text-center" id="recipe-type2"> </p>
    <p class="flex-wrap text-center" id="recipe-section2"> </p>
  </div>

  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name3"></h1>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image3"> </img>
    <p class="text-center" id="recipe-type3"> </p>
    <p class="flex-wrap text-center" id="recipe-section3"> </p>
  </div>


  <div class="text-center" style="width: 300px">
    <h1 id="recipe-name4"></h1>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image4"> </img>
    <p class="text-center" id="recipe-type4"> </p>
    <p class="flex-wrap text-center" id="recipe-section4"> </p>
  </div>


  <div class="text-center" style="width: 300px; ">
    <h1 id="recipe-name5"></h1>
    <img class="d-flex justify-content-center img-fluid rounded mx-auto d-block" id="recipe-image5"> </img>
    <p class="text-center" id="recipe-type5"> </p>
    <p class="flex-wrap text-center" id="recipe-section5"> </p>
  </div>

</section>


<script type="text/javascript" src="/js/recipeSearch.js"></script>