{{!-- Nav bar --}}

<header id="navbar" class="container">
  <h1 id="title-header">Welcome to Pantry-pal</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="option-dropdown" data-bs-toggle="dropdown">
      Options
    </button>
    <ul id="option-dropdown" class="dropdown-menu" aria-labelledby="option-dropdown">
      <li><a href="contact" class="btn btn-info m-2">Contact Us</a></li>
      <li> <a id="logout" class="btn btn-info m-2">Logout</a></li>
    </ul>
  </div>
</header>


{{!-- Jumbotron --}}
<div id="jumbotron" class="jumbotron max-width: 100% jumbotron-fluid mt-1">
  <div id="jumbo-logo" class="container">
    <img class="img-fluid max-width: 100% height: auto"
      src="https://github.com/itsmejustino/Pantry-Pal/blob/main/public/images/My%20project-1%20(3).png?raw=true">
  </div>
</div>

{{!-- search section --}}
<section class="d-flex justify-content-center">

  <div class="input-group" style="margin-top: 100px; margin-bottom:100px; width:400px;">
    
   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
      class="bi bi-question-circle-fill" id ="info-svg" viewBox="0 0 16 16" style="margin-right: 4px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
    </svg>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What's This?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Pantry Pal is made for the hungry individual looking for some ideas to quench their hunger. <br>
        Type in your search inside of the input bar and click on "Search" to get five fresh ideas! <br>
        Your recent searches will be saved within the drop down menu that can be used by clicking on the down arrow.<br><br>
        <h4>NOTE: Not feeling motivated to put in a search item? Click on the "Surprise Me!" button within the list drop down.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <input type="text" id="user-input" class="form-control" aria-label="Text input with segmented dropdown button"
      placeholder="What's in the pantry?">
    <button type="button" id="search-button" class="btn btn-outline-secondary">Search</button>

    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul id="dropdown-ul" class="dropdown-menu dropdown-menu-end">
      <div class="d-flex justify-content-center">
        <button type="button" id="surprise-me-button" class="btn btn-outline-secondary">Surprise Me!</button>
        <li>
          <hr class="dropdown-divider">
        </li>
    </ul>
    <div id="modal-container" style="margin-top: 10px;" style="display:flex; justify-content: center;"> </div>
  </div>

  </div>

</section>

{{!-- results from search section --}}
 <section id ="recipe-card" class="d-flex justify-content-center flex-wrap align-self-center" style="gap: 2em;">
 

</section>

{{!-- connect to public js recipeSearch --}}
<script type="text/javascript" src="/js/recipeSearch.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>