<div>
  <input name="search" type="search" id="user-input" cols="30" rows="10"></input>
  <button type="button" class="btn btn-dark" id="search-button">button </button>

</div>
<h1 id="recipe-name"></h1>
<div>
  <img class="img-fluid " id="recipe-image"> </img>
  <p id="recipe-type"> </p>
  <p id="recipe-section"> </p>




</div>
<h1 id="recipe-name2"></h1>

<div>
  <img class="img-fluid " id="recipe-image2"> </img>
  <p id="recipe-type2"> </p>
  <p id="recipe-section2"> </p>




</div>
<h1 id="recipe-name3"></h1>
<div>
  <img class="img-fluid " id="recipe-image3"> </img>
  <p id="recipe-type3"> </p>
  <p id="recipe-section3"> </p>




</div>

<h1 id="recipe-name4"></h1>
<div>
  <img class="img-fluid " id="recipe-image4"> </img>
  <p id="recipe-type4"> </p>
  <p id="recipe-section4"> </p>




</div>

<h1 id="recipe-name5"></h1>
<div>
  <img class="img-fluid " id="recipe-image5"> </img>
  <p id="recipe-type5"> </p>
  <p id="recipe-section5"> </p>




</div>



<script type="text/javascript" src="/js/recipeSearch.js"></script>